.cl-context-menu {
	position: absolute;
	z-index: 9999;
	&-box {
		box-shadow: 0 2px 12px #0000001a;
		width: 160px;
		background-color: #fff;
		border-radius: 3px;
		position: absolute;
		top: 0
	}
	&-box.is-append {
		right: calc(-100% - 5px);
		top: -5px
	}
	&-box>div {
		display: flex;
		align-items: center;
		height: 35px;
		font-size: 13px;
		cursor: pointer;
		padding: 0 15px;
		color: #666;
		position: relative;
		&.is-active {
			background-color: #f7f7f7;
			color: #000
		}
		&.is-ellipsis {
			span {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				&:hover {
					color: #ccc
				}
			}
		}
		&.is-disabled {
			span {
				color: #ccc;
			}
		}
		&:first-child {
			margin-top: 5px
		}
		&:last-child {
			margin-bottom: 5px
		}
		&:hover {
			background-color: #f7f7f7;
			color: #000
		}
		span {
			height: 35px;
			line-height: 35px;
			flex: 1
		}
		i {
			&:first-child {
				margin-right: 5px
			}
			&:last-child {
				margin-left: 5px
			}
		}
	}
	&__target {
		position: relative;
		&:after {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			background-color: #0000000d
		}
	}
}